div.wrap article.blogify-redirect span.blogify-instructions h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

div.wrap article.blogify-redirect span.blogify-instructions h3 {
    font-size: 18px;
    color: #666;
    /* Grayish text for explanation */
    margin-bottom: 20px;
}

div.wrap article.blogify-redirect {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

div.wrap span.blogify-instructions {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

div.wrap section.blogify-logos {
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

div.wrap section.blogify-logos img#blogify-banner {
    height: 50px;
}

div.wrap section.blogify-logos img#blogify-two-way-arrow {
    height: 80px;
}

div.wrap section.blogify-logos img#blogify-wordpress-banner {
    height: 100px;
}