div.blogify header {
    display: flex;
    align-items: center;
    padding: 10px;
}

div.blogify header #blogify-banner {
    height: 28px;
}

div.blogify header img .icon {
    width: 20px;
    height: 20px;
}

div.blogify header #credits {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: 11px;
    padding: 5px;
    font-weight: 600;
    border-radius: 18px;
    background-color: var(--blogify-primary);
}

div.blogify header #credits-logo {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 1.5px #fff;
}

div.blogify header #user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: solid 1.5px var(--blogify-primary);
}


div.blogify header>.left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

div.blogify header>.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

div.blogify header .left>img,
div.blogify header .left>span {
    margin-right: 10px;
}

div.blogify header .right>img,
div.blgofify header .right>span {
    margin-left: 10px;
}